.brands{
    display: flex;
    flex: 2 !important;
}
.brands-container{
    display: flex;
    margin-top: 2rem;
    .brands-title{
        position: absolute;
        right: 5%;

        .brands-form{
            .brandinput{
                width: 18rem;
                margin-bottom: 5rem;
                height: 2.5rem;
                border-radius: 5px;
                border: 1px solid rgb(75, 144, 235);
            }

            .input-file-container {
                position: absolute;
                right: 2&;
            }
            .sub-btn{
                margin-top: -2rem;
                height: 1.5rem;
                width: 10rem;
                padding-bottom: 2rem;
                background-color: rgb(23, 141, 238);
                color: white;
                font-weight: 600;
                border-radius: 5px;
                position: absolute;
                right: 15%;
            }
        }
        
    }
}

.output{
    margin-top:6rem;
    margin-left: 2.5rem;
}
