.services{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    @media screen and (max-width:720px) {
    margin-top: -4rem;}
    @media screen and (max-width:450px) {
padding-left: 1rem;
padding-right: 1rem;
    }
    .overlay_circle1{
        position: absolute;
        margin-left: 12rem;
        margin-top: -40rem;
        z-index: -1;
        width: 100px;
        height: 100px;
        @media screen and (max-width:720px) {
          width: 150px;
          height: 150px;
          margin-left:4rem ;
          margin-right: 6rem;
          margin-top: -50rem;

        }
    }
    .overlay_circle2{
      position: absolute;
      margin-left: 53rem;
      margin-top: 7rem;
      z-index: -1;
      width: 500px;
      height: 500px;
      @media screen and (max-width:850px) {
        width: 400px;
        height: 400px;
        margin-left:6rem ;
        margin-top: 4rem;
      }
      @media screen and (max-width:1300px) {
        margin-right: 25rem;
        margin-bottom: 4rem;
        margin-top:4rem ;
      }
  }
  .overlay_circle3{
    position: absolute;
    z-index: -1;
    margin-right: 69rem;
    margin-bottom: 15rem;
    width: 400px;
    height: 400px;
    @media screen and (max-width:720px) {
      width: 200px;
      height: 200px;
      margin-right:10rem ;
      margin-bottom: 80rem;
    }
}
    h2{
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 32px;
        font-weight: 800;
        text-transform:uppercase ;
        color: var(--black-color);
        margin-bottom: 2rem;
        position: relative;
        z-index: 1;
        @media screen and (min-width:1910px) and (max-width:2550px) {
          font-size: 3rem;

        }
        @media screen and (min-width:2570px)  {
          font-size: 6rem;
  }
    }
    .line{
        background: rgb(4,146,194);
        background: linear-gradient(87deg, rgba(4,146,194,0) 10%, #bf2e46 49%, rgba(23,217,236,0) 91%); 
        width: 10rem;
        height: .5rem;
        position: relative;
        z-index: 1;
        margin-top: -2rem;
        margin-bottom: 2rem;
        margin-right: 70rem;
        @media screen and (min-width:1910px) and (max-width:2550px) {
        
          margin-right: 100rem;
        }
        @media screen and (min-width:2570px)  {
          margin-right: 205rem;
          width: 60rem;
  }
        @media screen and(max-width:820px) {
          right: 80%;
        }
      }
    .grid-services{
        display: flex;
        flex-direction: row;
        @media screen and (max-width:820px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        div{
            margin: 1rem;
            text-align: center;
            padding: 2rem;
            background-image: linear-gradient(to right, #434343 0%, black 100%);
            border-radius: 20px;
            object-fit: cover;
            width: 100%;
            color: var(--primary-color);
            position: relative;
            z-index: 1;
            @media screen and (max-width:820px) {
              height: 10rem;
            }
            @media screen and (min-width:1910px) and (max-width:2550px) {
                height: 12rem;

            }
            @media screen and (min-width:2570px)  {
              height: 25rem;
              width: 45rem;
      }


            p{
                margin-top: 1rem;
                color: rgb(250, 250, 250);
                font-weight: 600;
                line-height: 1.6;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            @media screen and (min-width:1910px) and (max-width:2550px) {
        
                font-size: 1.5rem;
            }
            @media screen and (min-width:2570px)  {
              font-size: 2.9rem;
      }
        }
        .workshops{
          background: linear-gradient(rgba(0, 0, 0, 0.774), rgb(0, 0, 0)),url(deliver4.png);
            object-fit: cover;
            -o-object-fit: cover;
            position: relative;


        }
        .management{
            background: linear-gradient(rgba(0, 0, 0, 0.774), rgb(0, 0, 0)),url(deliver2.png);
            object-fit: cover;
            -o-object-fit: cover;
            position: relative;

        }
        .employ{
          background: linear-gradient(rgba(0, 0, 0, 0.774), rgb(0, 0, 0)),url(deliver3.png);
            object-fit: cover;
            -o-object-fit: cover;
            position: relative;
        }
        .start-up{
          background: linear-gradient(rgba(0, 0, 0, 0.774), rgb(0, 0, 0)),url(deliver5.png);
            object-fit: cover;
            -o-object-fit: cover;
            position: relative;
        }
    }
    .offerings{
        display: flex;
        margin: 3rem;
        text-align: center;
        @media screen and (max-width:820px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }

        .internships{
            margin: 0;
            margin-left: 0;
            margin-top: 0;
            width: 100%;
            padding-left: 0;
            padding-right: 1rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            position: relative;
            z-index: 1;
            @media screen and (max-width:820px) {
              padding-right: 0;
              padding-left: 0;
              width: 22rem;
            }
            @media screen and (max-width:300px) {
              padding-right: 0;
              padding-left: 0;
              width: 15rem;
              margin-bottom: -3rem;
            }
            h4{
                font-family: 'M PLUS Rounded 1c', sans-serif;
                font-size: 15px;
                font-weight: 800;
                text-transform:uppercase ;
                color: var(--black-color);
                @media screen and (min-width:1910px) and (max-width:2550px) {
                    font-size: 2rem;
                      
                }
                @media screen and (min-width:2570px)  {
                  font-size: 3.5rem;
          }
                
            }
            p{
                margin-top: 1rem;
                color: rgb(70, 69, 69);
                font-weight: 600;
                line-height: 1.6;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                @media screen and (min-width:1910px) and (max-width:2550px) {
        
                    font-size: 1.5rem;
                }
                @media screen and (min-width:2570px)  {
                  font-size: 2.5rem;
          }
            }

        }
        .review{
          height: 33rem;
          justify-content: center;
          align-items: center;
          justify-items: center;
          width: 60rem;
          @media screen and (min-width:2570px)  {
            width: 170rem;
            height: 5rem!important;
    }
        }
        .join{
            width: 100%;
            margin-top: 0;
            height: 28rem;
            border-radius: 10px;
            background: #0c0c0c;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            @media screen and (min-width:2570px)  {
              height: 40rem!important;
      }
            @media screen and (max-width:720px) {
              margin-bottom: 9rem;
              margin-top: 3rem;
              height: 20rem;
            }
            
            :before{
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.568);
                z-index: 2;
            }
            .join-content{
              background-color: rgba(0, 0, 0, 0.000);
              max-width: 1200px;
              width: 28rem;
              position: absolute;
              padding: 8px 74px;
              height: 2rem;
              margin-top: -9rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              @media screen and (max-width:950px) {
                margin-left: 7rem;
                margin-top: -8rem;
              }
            }
        }
        .button {
            display: flex;
            position: relative;
            cursor: pointer;
            align-items: center;
            padding-left: 10px;
            margin-top: -7rem!important;
            right: 4%;
            margin-left: 3.3rem;
            height: 2rem;
            width: 12rem;
            background: linear-gradient(to right, var(--secondary-color) 0%, #bf2e46 100%);
            z-index: 9;
            left: 3%;border-radius: 10px;
            @media screen and (max-width:950px) {
              margin-left: 7rem;
              margin-top: 8rem;
             top: 78.5%;
             left: -2%;
             width: 10rem;
             position: absolute;
             padding-left: 3rem;

            }
            @media screen and (min-width:2570px)  {
              margin-left: 16rem;
              width: 25rem;
              height: 4rem;
      }
            @media screen and (max-width:300px) {
              margin-left: 7rem;
              margin-top: 8rem;
             top: 75%;
             left: -25%;
             width: 12rem;
             position: absolute;
             padding-left: 3rem;

            }
            @media screen and (min-width:760px) and (max-width:850px) {
             top: 75%;
             left: 10%!important;
             width: 25rem;
             height: 3rem;
             position: absolute;
             z-index: 10;
            }
            @media screen and (min-width:530px) and (max-width:550px) {
             top: 79%;
             left: 10%!important;
             width: 15rem;
             height: 3rem;
             position: absolute;
             z-index: 10;
            }
            
            &:hover {
              & .button__border-circle { 
                transform: translateX(60px);
                background-color: transparent;
              }
              
              & .button__mask-circle {
                clip-path: circle(25px at 85px);
              }
            }
          }
          
          .button__text {
            margin-top: 1rem;
            color: rgb(250, 250, 250);
            font-weight: 600;
            line-height: 1.6;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-top: -.6rem;
            @media screen and (max-width:300px) {
              font-size: 1rem;
              text-align: center;
              margin-right: 3rem;

            }
            @media screen and (min-width:760px) and (max-width:850px) {
             left: -15%!important;
             font-size: 2.5rem;
            }
            @media screen and (min-width:2570px)  {
              font-size: 3.2rem;
      }
          }
          
          .button__wrapper {
            position: relative;
            display: flex;
            align-items: center;
          }
          
          .button__arrow {
            left: 30px;
            height: 3px;
            width: 50px;
            display: flex;
            position: absolute;
            align-items: center;
            background-color: var(--secondary-color);
            @media screen and (max-width:820px) {
              display: none;
            }
            
            &:after {
              content: '';
              width: 0; 
              height: 0; 
              top: -5px;
              right: -7px;
              position: absolute;
              border-top: 7px solid transparent;
              border-bottom: 7px solid transparent;
              border-left: 7px solid var(--secondary-color );
            }
          }
          
          .button__border-circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid var(--secondary-color );
            transition: transform 987ms;
            @media screen and (max-width:820px) {
            display: none;
            }
          }
          
          .button__mask-circle {
            width: 50px;
            height: 50px;
            position: absolute;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            clip-path: circle(25px);
            transition: clip-path 987ms;
          }
          
          .button__small-circle {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            transform: translateX(60px);
            background-color: var(--secondary-color );
          }
          

        .business-management{
            margin: 0;
            margin-left: 0;
            margin-top: 0;
            width: 100%;
            padding-left: 1rem;
            padding-right: 0;
            padding-top: 2rem;
            padding-bottom: 2rem;
            position: relative;
            z-index: 1;
            @media screen and (max-width:830px) {
              padding-right: 0;
              padding-left: 0;
              width: 22rem;
              margin-top: -9rem;
              margin-bottom: 3rem;
            }
            @media screen and (max-width:950px) {
              padding-right: 0;
              padding-left: 0;
              width: 22rem;
              margin-top: 0rem;
              margin-bottom: 7rem;
            }
            @media screen and (max-width:300px) {
              padding-right: 0;
              padding-left: 0;
              width: 15rem;
              margin-top: -9rem;
              margin-bottom: 5rem;
            }
            @media screen and (max-width:550px) {
              padding-right: 0;
              padding-left: 0;
              margin-top: -9rem;
              margin-bottom: 5rem;
            }
            h4{
                font-family: 'M PLUS Rounded 1c', sans-serif;
                font-size: 15px;
                font-weight: 800;
                text-transform:uppercase ;
                color: var(--black-color);
                @media screen and (min-width:1910px) and (max-width:2550px) {
                  font-size: 2rem;

                }
                @media screen and (min-width:2570px)  {
                  font-size: 3.5rem;
          }
            }
            p{
                margin-top: 1rem;
                color: rgb(70, 69, 69);
                font-weight: 600;
                line-height: 1.6;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                @media screen and (min-width:1910px) and (max-width:2550px) {
        font-size: 1.5rem;

                }
                @media screen and (min-width:2570px)  {
                  font-size: 2.5rem;
                  margin-bottom: 5rem;
          }
              }

        }
    }
    .Video{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        box-shadow:8px 8px rgba(51, 51, 51, 0.356);
    }
    video{
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        background: #232a34;
        border-radius: 10px;
       
     }

}
.mobile-button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: #16a085;
  border: none;
  color: #fff;
  padding: 20px;
  width: 500px;
  height: 60px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
  top: 50%;
  @media screen and (max-width:820px) {
    display: none;
  }
}

.mobile-button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.mobile-button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.mobile-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.mobile-button:focus { outline:0; }
