.SlideSection {
  width: 100%;
  margin: 5rem auto;
  max-width: 100%;
  margin-top: 0;
  /* border-top-left-radius:15rem ;
border-top-right-radius:15rem ; */
  position: relative;
  z-index: 3;
  /* background-image: linear-gradient(45deg, 
     black, blue,), url('../../Images/84631.jpg'); */
  /* background-image : linear-gradient(45deg, rgba(
                145, 146, 122, 0.62), rgba(
                  217, 91, 132, 0.58)), url(
'84631.jpg');; */
}

@media screen and (max-width: 820px) {
  .SlideSection {
    height: 30rem !important;
  }
}

.SectionCenter {
  margin: 0 auto;
  margin-top: 0rem;
  width: auto;
  height: 300px;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 15px !important;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: .1rem solid black; */
  border-radius: 2rem;
  padding: 2rem;
}

@media screen and (max-width: 650px) {
  .SectionCenter {
    height: 400px;
    width: auto;
    margin: 0 1rem;
  }
}

#SectionArticle {
  position: absolute;
  top: 0;
  left: 4%;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  padding-right: 3rem;
  align-items: center;
  transition: all 0.3s linear;
}

@media screen and (max-width: 650px) {
  #SectionArticle {
    flex-direction: column;
  }
}

.SliderImage {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 4px solid #bcccdc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

@media screen and (max-width: 650px) {
  .SliderImage {
    margin-bottom: 0;
  }
}

.SliderH4 {
  text-transform: uppercase;
  color: var(--secondary-color) !important;
  margin-bottom: .25rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 800;
  margin-top: 2rem;
}

.company {
  color: var(--gray-color) !important;
  font-size: .8rem;
  margin-top: .5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.SliderTitle {
  text-transform: capitalize;
  margin-bottom: .75rem;
  color: var(--gray-color);
  text-align: left;
  font-weight: 600;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.SectionTitle {
  text-align: center;
  margin-bottom: 2rem;
}

.SliderH2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.ButtonPrev {
  position: absolute;
  margin-top: 2rem;
  transition-property: 200px;
  transform: translateY(-50%);
  background: #186db6;
  border-radius: 50%;
  color: #fff;
  width: 2.25rem;
  height: 2.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: .25rem;
  cursor: pointer;
  transition: all .3s linear;
  left: 45%;
}

.ButtonPrev:hover {
  background: skyblue;
}

@media screen and (min-width: 880px) {
  .ButtonPrev {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 650px) {
  .ButtonPrev {
    left: 35%;
  }
}

.ButtonNext {
  position: absolute;
  margin-top: 2rem;
  transition-property: 200px;
  transform: translateY(-50%);
  background: #186db6;
  color: #fff;
  width: 2.25rem;
  height: 2.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: .25rem;
  cursor: pointer;
  transition: all .3s linear;
  right: 45%;
}

.ButtonNext:hover {
  background: skyblue;
}

@media screen and (min-width: 880px) {
  .ButtonNext {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 650px) {
  .ButtonNext {
    right: 35%;
  }
}

.SliderDescription {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: grey;
}

@media screen and (min-width: 880px) {
  .SliderDescription {
    max-width: 45em;
  }
}

.active-slide {
  opacity: 1 !important;
  transform: translateX(0);
  /* box-shadow: 2px 2px black;
    border: 1rem solid black; */
}

.last-slide {
  transform: translateX(-100%);
}

.next-slide {
  transform: translateX(100%);
  color: rgba(0, 0, 0, 0.596);
}

.content {
  margin-top: 4rem;
  display: flex;
  margin-left: 2rem;
}

@media screen and (max-width: 650px) {
  .content {
    margin-top: 1rem;
  }
}
