.about-title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: var(--black-color) !important;
}

.about-section {
  margin-top: 6rem;
  padding-bottom: 1rem;
}

.about-section p {
  padding: 0 4rem;
  text-align: center;
  color: var(--gray-color);
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 650px) {
  .about-section p {
    padding: 0 2rem;
  }
}

.css-tn8o5s-MuiImageListItem-root {
  display: inline-block;
  position: relative;
  line-height: 0;
  opacity: 1 !important;
  transform: scale(1);
  /* Initial scale property */
  transition: transform 0.3s ease-in-out, opacity 0.3s linear;
  cursor: pointer;
}

.css-uym98a-MuiImageList-root {
  width: 1031px !important;
  margin: auto;
  height: none;
  overflow-y: inherit !important;
  margin-bottom: 4rem;
}

.css-xts502 {
  width: 1031px !important;
  margin: auto;
  height: none;
  overflow-y: inherit !important;
  margin-bottom: 4rem;
}
