.active-slide{
    opacity: 1 !important;
    transform: translateX(0);
    /* box-shadow: 2px 2px black;
    border: 1rem solid black; */
}
.last-slide{
    transform: translateX(-100%);
    ;
}

.next-slide{
    transform: translateX(100%);
    color: rgba(0, 0, 0, 0.596);
}
.slider-section{
    width: 100%;
margin: 5rem auto;
max-width:100%;
margin-top: 0;
background: linear-gradient(rgba(0, 0, 0, 0.877), rgb(0, 0, 0)),url(Missions.jpg);
/* border-top-left-radius:15rem ;
border-top-right-radius:15rem ; */
position: relative;
z-index: 3;
object-fit: cover;

}
@media screen and (max-width:820px) {
    .slider-section{
        padding-bottom: 1rem;
    }
}