.faq {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 25px;
  padding: 50px 25px;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-top: -26rem !important;
  background-image: var(--primary-color);
}

.faq__logo {
  background: url("https://bobmatyas.github.io/fm-faq-accordion/images/bg-pattern-mobile.svg") center bottom no-repeat;
  background-color: transparent;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
  margin-top: -77px;
}

.faq__logo__image {
  margin-left: -13px;
  margin-bottom: 13px;
  height: 20rem;
}

.faq__heading {
  color: var(--secondary-color);
  font-size: 3.2rem;
  font-weight: 800;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.faq__detail {
  border-bottom: 1px solid #e7e7e9;
  margin: 20px 0 0 0;
  padding: 5px 0 20px 0;
  width: 30rem;
}

.faq__summary:hover,
.faq__summary:active {
  color: var(--brown-color);
  cursor: pointer;
}

.faq__detail[open] > .faq__summary {
  font-weight: 700;
}

.faq__summary {
  list-style: none;
}

.faq__summary::-webkit-details-marker {
  display: none;
}

.faq__summary {
  display: block;
  padding: 0;
  position: relative;
  text-align: right;
}

.faq__summary:after {
  display: inline-block;
  content: url("https://bobmatyas.github.io/fm-faq-accordion/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  text-align: right;
  padding-bottom: 20px;
}

details[open] .faq__summary:after {
  display: inline-block;
  width: 18px;
  height: 10px;
  content: "";
  background-image: url("https://bobmatyas.github.io/fm-faq-accordion/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right;
  transform: scaleY(-1);
}

.faq__question {
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 90%;
}

.faq__question {
  display: inline-block;
  margin: 5px 0;
  text-align: center;
  width: 90%;
}

.faq__summary {
  color: var(--secondary-color);
  font-size: 1.4rem;
}

.faq__summary:focus {
  color: var(--brown-color);
  font-weight: bold;
  outline: none;
}

.faq__text {
  color: var(--blue-mid);
  font-size: 18px;
  line-height: 1.6;
  margin: 10px 0 0 0;
}

.hidden-lg {
  display: block;
}

.visible-lg {
  display: none;
}

@media (max-width: 720px) {
  .faq__text {
    margin: 25px 0 10px 0;
  }
  .faq__detail {
    margin: 20px 0 0 0 0;
    padding: 0 6rem 0 6rem;
  }
}
