.submit {
  background-color: aliceblue;
  margin-top: 2rem;
  height: 40px;
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  border-color: #2b6cf8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group {
  margin-bottom: 3rem;
}

.list-group-item {
  font-weight: 700;
  height: 2rem;
  color: var(--primary-color);
  border-radius: 7px;
  background-color: var(--secondary-color);
}

.list-group {
  width: 60rem;
  text-align: center;
}

@media screen and (max-width: 520px) {
  .list-group {
    width: 25rem;
  }
}

.top {
  height: 3rem;
  background-color: var(--primary-color);
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid blue;
  color: #1d1c1c;
}
