.app__footer {
  flex: 1;
  padding-top: 3rem;
  margin: 0;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.856), rgba(0, 0, 0, 0.925)), url("../../Assets//contact.jpg");
}

@media screen and (max-width: 520px) {
  .app__footer {
    padding: 0  2rem 0 2rem;
  }
}

h2 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: -2.5rem;
}

.app__footer-cards {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 2rem 2rem;
}

.app__footer-cards .app__footer-card {
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fef4f5;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 520px) {
  .app__footer-cards .app__footer-card {
    justify-content: center;
  }
}

.app__footer-cards .app__footer-card img {
  width: 40px;
  height: 40px;
  margin: 0 .7rem;
}

.app__footer-cards .app__footer-card p {
  font-weight: 600;
}

.app__footer-cards .app__footer-card a {
  text-decoration: none;
  font-weight: 500;
}

.app__footer-cards .app__footer-card:hover {
  box-shadow: 0 0 25px #fef4f5;
}

@media screen and (max-width: 450px) {
  .app__footer-cards .app__footer-card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .app__footer-cards {
    width: 100%;
  }
}

.app__footer-cards .app__footer-card:last-child {
  background-color: #f2f7fb;
}

.app__footer-form {
  width: 60%;
  position: relative;
  z-index: 1000;
  flex-direction: column;
  margin: 1rem 6rem;
}

@media screen and (max-width: 850px) {
  .app__footer-form {
    padding: 0  1rem 0 1rem;
  }
}

@media screen and (min-width: 2570px) {
  .app__footer-form {
    width: 90%;
    height: 50rem;
    margin-top: 7rem;
  }
}

.app__footer-form div {
  width: 100%;
  margin: 0.75rem 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: all .3s ease-in-out;
}

.app__footer-form div .formInput {
  width: 100%;
  z-index: 1000;
  border: none;
  background-color: var(--black-color);
  font-family: var(--font-base);
  color: var(--secondary-color);
}

@media screen and (min-width: 2570px) {
  .app__footer-form div .formInput {
    height: 8rem;
  }
}

.app__footer-form div .message {
  height: 170px;
  position: relative;
  z-index: 1000;
}

@media screen and (min-width: 2570px) {
  .app__footer-form div .message {
    height: 700px;
  }
}

.app__footer-form div:hover {
  box-shadow: 0 0 25px var(--primary-color);
}

.app__footer-form .topInput {
  height: 3rem;
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 10px;
  border: none;
}

.app__footer-form .message {
  height: 6rem;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 0 1rem !important;
}

.app__footer-form button {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-color);
  font-weight: 500;
  color: var(--white-color);
  outline: none;
  margin: 2rem 0 0 0;
  font-family: var(--font-base);
  cursor: pointer;
}

@media screen and (min-width: 2570px) {
  .app__footer-form button {
    width: 700px;
    height: 700px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .app__footer-form {
    width: 100%;
    margin: 1rem 0;
  }
}

.address {
  color: var(--primary-color);
}

.Copyright {
  display: flex;
  position: relative;
  background-color: #202020;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 2570px) {
  .Copyright {
    margin-top: 37rem;
    height: 12rem;
    margin-bottom: -32rem;
  }
}

@media screen and (min-width: 1910px) and (max-width: 2565px) {
  .Copyright {
    bottom: -15% !important;
  }
}

.Copyright .p-text {
  color: white;
  margin: .7rem 1rem;
}

@media screen and (min-width: 2570px) {
  .Copyright .p-text {
    font-size: 3rem;
  }
}

.head-text {
  color: var(--primary-color);
}

.message {
  width: 20rem !important;
  height: 10rem;
}
